{:component/logging
 {:console {:encoder :pattern
            :pattern "%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %logger{36} - %msg%n"
            :filters [[:logstash :deny :neutral]]}
  :level :debug
  :app-level :debug
  :app-name "speculum"
  :overrides {"pedestal-tools" :debug
              "io.pedestal"    :warn
              "org.eclipse"    :warn
              "org.apache"     :warn
              "speculum"       :debug}}
 ;; =================================
 :component/webserver {:preview? true}
 ;; =================================
 :component/storage {:output-directory-tiles "mirror-tiles"
                     :output-directory-wms "mirror-wms"
                     :auto-create? true}
 ;; =================================
 :component/config
 {:tiles-providers {:osm
                    {:osm-street
                     {:url "https://tile.openstreetmap.org/{z}/{x}/{y}.png"}}}
  :wms-provider {}} }
