{:component/logging
 {:console {:encoder :pattern
            :pattern "%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %logger{36} - %msg%n"
            :filters [[:logstash :deny :neutral]]}
  :level :debug
  :app-level :debug
  :app-name "speculum"
  :overrides {"pedestal-tools" :debug
              "io.pedestal"    :warn
              "org.eclipse"    :warn
              "org.apache"     :warn
              "xtdb"           :debug
              "speculum"       :info}}
 ;; =================================
 :component/webserver {:logging #ig/ref :component/logging
                       :storage #ig/ref :component/storage
                       :config #ig/ref :component/config
                       :port 3000}
 ;; =================================
 :component/storage {:output-directory "mirror"
                     :auto-create? true}
 ;; =================================
 :component/config
 {:tiles-providers {:osm
                    {:osm-street
                     {:url "https://tile.openstreetmap.org/{z}/{x}/{y}.png"}}}
  :wms-provider {}} }
